<h1>Portfolio Items </h1>

<%= link_to("Create New Item", new_portfolio_path) if logged_in?(:site_admin)%>

<p>
    This is the code for the link above.
    <%= "new_portfolio_path" + " : " + new_portfolio_path + " , " +  "new_portfolio_url" + " : " + new_portfolio_url %>
</p>

<%= render(partial: 'portfolio_item', collection: @portfolio_items )%>
    