<footer class="text-body-secondary bg-body-tertiary py-5">
  <div class="container">
    <div class="row g-5">
      <p class="col-md-8 mb-1"><%= copyright_generator() %></p>
      <p class="col-md-3 mb-1 float-end"><a class="position-sticky" href="#">Back to top</a></p>
    </div>
  </div>
</footer>