<div class="container">
  <div class="nav-scroller py-1 mb-3 border-bottom">
    <nav class="nav nav-underline justify-content-between">
      <%# <a class="nav-item nav-link link-body-emphasis active" href="#">World</a> %>
      <%= nav_helper('nav-link', 'span') %>
      <%= login_helper('nav-item nav-link link-body-emphasis') %>
    </nav>
  </div>
</div>