<h1>Pages#about</h1>

<hr>

<div class="row">
    <div class="col-md-8">
        <%= image_tag('profile_headshot.jpg', width: '400', alt:"Picture of me, the dev, MacKenzie Jew") %>
    </div>
    <div class="col-md-4">
        <p>Find me in app/views/pages/about.html.erb</p>
    </div>
    

</div>


