<h1 class="viewable-text">About Me</h1> <!-- Pages#about -->
<hr>

<div class="row">
    <div class="col-md-7">
        <%= image_tag('profile_headshot.jpg', width: '400', alt:"Picture of me, the dev, MacKenzie Jew") %>
    </div>
    <div class="col-md-5">
        <%# <p>Find me in app/views/pages/about.html.erb</p> %>
        <p class="viewable-text">Hi my name is MacKenzie Jew. I am a motivated software engineer striving to open my horizons and learn new skills. I have built this site using Ruby on Rails as a way to pratice my skills and learn how to build a new website from the ground up. I work on new features and items in my spare time and hopefully you can see my progress.</p> 
        <p class="viewable-text">You can find more about me at LinkedIn: <a style="text-shadow:none;" href="https://www.linkedin.com/in/mackenzie-jew/">https://www.linkedin.com/in/mackenzie-jew/</a> </p>
    </div>
    

</div>


