<h1 class="viewable-text">Some contact information</h1> <!-- Pages#contact --> 
<!-- <p>Find me in app/views/pages/contact.html.erb</p> -->
<p></p>

<p class="viewable-text">my email is mack.jew@gmail.com</p>
<p class="viewable-text">My LinkedIn: <a style="text-shadow:none;" href="https://www.linkedin.com/in/mackenzie-jew/">https://www.linkedin.com/in/mackenzie-jew/</a></p>
<p class="viewable-text">My github Account: <a style="text-shadow:none;" href="https://github.com/mackjew">https://github.com/mackjew</a></p>

<!--
<p><%= number_to_phone("5555555555") %></p>
<p><%= number_to_currency("150") %></p>
<p><%= number_to_percentage("83.5") %></p>
<p><%= number_with_delimiter("3524783209889") %></p> 
-->
<p>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2267.598449006653!2d-118.8511103734378!3d34.17609849389801!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80e82530a4db4ab5%3A0xc38fba097e8a8a75!2sCity%20of%20Thousand%20Oaks%20Civic%20Arts%20Plaza!5e0!3m2!1sen!2sus!4v1716963606601!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</p>